---
permalink: /metadata.json
layout: false
eleventyExcludeFromCollections: true
---
{
  "@context": "https://schema.org",
  "@type": "EducationalOrganization",
  "@id": {{ (metadata.url + "/#organization") | dump | safe }},
  "name": {{ metadata.title | dump | safe }},
  "description": {{ metadata.description | dump | safe }},
  "url": {{ metadata.url | dump | safe }},
  "inLanguage": {{ metadata.language | dump | safe }}
}
