<!doctype html>
<html lang="{{ metadata.language }}">
<meta name="viewport" content="width=device-width">
{% include "partials/seo.njk" %}
</head>
<body>
<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
{% include "partials/header.njk" %}
<main id="main">
{{ content | safe }}
</main>
<!-- outputs all the icons used on the page -->
{% getBundle "fontawesome" %}
{% include "partials/footer.njk" %}
<script src="/js/bs.js"></script>
</body>
</html> 