---
layout: base.njk
---
{% include "partials/home/hero.njk" %}
{% include "partials/home/section.njk" %}
{% include "partials/gallery.njk" %}
{% include "partials/post_list.njk" %}
{% include "partials/info.njk" %}
{% include "partials/contact_form.njk" %}
