{% if show_post_list %}{% include "partials/post_list.njk" %}{% endif %}
{% if show_info %}{% include "partials/info.njk" %}{% endif %}
{% if show_contact_form %}{% include "partials/contact_form.njk" %}{% endif %}